// @import './index.scss';
@import './variables.scss';

.container {
  margin: 0 2%;
  max-width: $small-screen;

  @media (min-width: $small-screen) {
    margin: 0 auto;
  }
}

.page-subtitle {
  color: $grey-1;
  margin-bottom: 1.5em;
}

.actions-button {
  background: none;
  border: none;
  cursor: pointer;
}
