// COLORS VARS
$primary:     #008F75;
$hover:       #007963;
$disabled:    #b9b9b9;
$white:       #f4f4f4;
$grey-1:      #707070;
$black:       #121212;

// BREAKING POINTS VARS
$mobile-screen:    480px;
$small-screen:     1024px;